# The name of your Cloudflare Worker project
name = "restate-cloudflare-worker"

# Entrypoint
main = "./src/index.ts"

# Use tsconfig.build.json to resolve from dist (not source via path mappings)
tsconfig = "./tsconfig.build.json"

# Preview URLs are used to register to Restate
preview_urls = true

# Disable minification.
# The CF Worker minifier incorrectly removes parts of the Restate SDK
minify = false

# Enable NodeJS compatibility (used by the SDK for the Node Buffer API)
compatibility_date = "2024-05-13"
compatibility_flags = [ "nodejs_compat" ]

[dev]
ip = "0.0.0.0"
port = 9080
local_protocol = "http"
