[package]
name = "sdk-shared-core-wasm-bindings"
version = "0.1.0"
authors = ["slinkydeveloper <francescoguard@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
wasm-bindgen = "0.2.100"
restate-sdk-shared-core = { git = "https://github.com/restatedev/sdk-shared-core.git", rev = "c09e27010c251fa7447049668128934184f42803", features = ["request_identity"] }
console_error_panic_hook = { version = "0.1.7", optional = true }
serde = { version = "1.0.210", features = ["derive"] }
serde-wasm-bindgen = "0.6.5"
tsify = { version = "0.4.5", default-features = false, features = ["js"] }
js-sys = "0.3.77"
serde_bytes = "0.11.15"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", default-features = false, features = ["fmt", "std"] }

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
