name: Build and test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    # prevent from running on forks
    if: github.repository_owner == 'restatedev'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [19.x]

    steps:
      - uses: actions/checkout@v3
      - uses: bufbuild/buf-setup-action@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run proto
      - run: npm run verify
      - run: mv $(npm pack) restatedev-restate-sdk.tgz
      - uses: actions/upload-artifact@v3
        with:
          name: restatedev-restate-sdk
          path: restatedev-restate-sdk.tgz
          retention-days: 1
          if-no-files-found: error

      - name: Publish snapshot
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # We're using 0.0.0 to avoid this version to be higher than released versions.
          # To use it: 
          # "@restatedev/restate-sdk": "^0.0.0-SNAPSHOT"
          npm version 0.0.0-SNAPSHOT-$(date '+%Y%m%d%H%M%S') --git-tag-version false
          npm publish --tag dev

  e2e:
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
      actions: read
    secrets: inherit
    needs: build
    uses: restatedev/e2e/.github/workflows/e2e.yaml@main
    with:
      sdkTypescriptCommit: ${{ github.event.pull_request.head.sha || github.sha }}
      e2eRef: main
